<!DOCTYPE html>

<html>

<head>

    <title>
        Study Period Attendance
    </title>

</head>

<body onload="checkLocation()">

    <h1>Mark Attendance</h1>

    <p id="result"></p>

    <!-- HIDDEN TEXTBOX -->
    <div id="studyBox" style="display:none;">

        <input
            type="text"
            id="study_reason"
            placeholder="What are you working on?"
        >

        <input type="hidden" id="latitude" value="">
        <input type="hidden" id="longitude">
        <button onclick="submitReason()">
            Submit Attendance
        </button>

    </div>

    <script src="/static/style.js"></script>

</body>

</html>