<!DOCTYPE html>

<html>

<head>

    <title>
        Study Period Attendance
    </title>

</head>

<body>

    <h1>Mark Attendance</h1>

    <button onclick="checkLocation()">
        Mark Attendance
    </button>

    <p id="result"></p>

    <!-- HIDDEN TEXTBOX -->
    <div id="studyBox" style="display:none;">

        <input
            type="text"
            id="study_reason"
            placeholder="What are you working on?"
        >

        <button onclick="submitReason()">
            Submit
        </button>

    </div>

    <script src="/static/style.js"></script>

</body>

</html>