<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">

    <title>Student Sign Up</title>
</head>

<body>

    <div class="signup-container">

    <div class="image-side">
        <img src="{{ url_for('static', filename='images/hero.jpg') }}">
    </div>

   <div class="form-side">

        <div class="form-card">

            <h1>Create Account</h1>

            <form method="POST">

                <label>Full Name</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter your full name"
                    required
                >

                <label>Email</label>
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    required
                >

                <label>Student ID</label>
                <input
                    type="text"
                    name="student_code"
                    placeholder="Student ID"
                    maxlength="5"
                    required
                >

                <label>Password</label>
                <div class="password-box">

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password"
                        required
                    >

                    <span onclick="togglePassword()">
                        👁
                    </span>

                </div>

                <button type="submit">
                    Sign Up
                </button>

            </form>

        </div>

    </div>

</div>

</body>

</html>